In [1]:
#import dependencies
import pandas as pd

In [3]:
#load in Realtor.com dataset sourced from kaggle | RDC_Inventory_Hotness_Metrics_County_History.csv
#https://www.kaggle.com/maedemaftouni/real-estate-market-trends?select=RDC_Inventory_Hotness_Metrics_County_History.csv

file_to_load = "Realtor_Kaggle_Dataset.csv"
realtor_df = pd.read_csv(file_to_load)

realtor_df.head()

C:\Users\natas\anaconda3\envs\PythonDataa\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,month_date_yyyymm,county_fips,county_name,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202107,51033,"caroline, va",40060.0,"richmond, va",1333.0,958.0,-361.0,-207.0,43.975904,...,-27.0,5.0,-0.017857,0.279070,1.0784,300000.0,-0.076923,0.034750,0.7792,0.0
1,202107,22099,"st. martin, la",29180.0,"lafayette, la",935.0,1343.0,58.0,80.0,22.447685,...,-78.0,15.0,-0.069767,0.600000,0.7843,190000.0,-0.084337,-0.155556,0.4935,0.0
2,202107,4027,"yuma, az",49740.0,"yuma, az",378.0,463.0,-140.0,272.0,62.048193,...,-32.0,-11.0,-0.371429,0.257143,0.8627,285900.0,-0.010727,0.169684,0.7426,0.0
3,202107,27131,"rice, mn",22060.0,"faribault-northfield, mn",864.0,1151.0,-73.0,-785.0,34.020292,...,0.0,4.0,0.000000,0.205882,0.8039,351400.0,-0.002838,0.110883,0.9127,0.0
4,202107,55059,"kenosha, wi",16980.0,"chicago-naperville-elgin, il-in-wi",394.0,164.0,51.0,-116.0,80.976538,...,-15.0,-10.0,-0.121951,-0.027027,1.4118,279900.0,-0.049414,-0.125039,0.7270,0.0

In [5]:
realtor_df.dtypes

month_date_yyyymm                         object
county_fips                               object
county_name                               object
cbsa_code                                float64
cbsa_title                                object
nielsen_hh_rank                          float64
hotness_rank                             float64
hotness_rank_mm                          float64
hotness_rank_yy                          float64
hotness_score                            float64
supply_score                             float64
demand_score                             float64
median_days_on_market                    float64
median_days_on_market_mm                 float64
median_dom_mm_day                        float64
median_days_on_market_yy                 float64
median_dom_yy_day                        float64
median_dom_vs_us                         float64
ldp_unique_viewers_per_property_mm       float64
ldp_unique_viewers_per_property_yy       float64
ldp_unique_viewers_per_property_vs_us    float64
median_listing_price                     float64
median_listing_price_mm                  float64
median_listing_price_yy                  float64
median_listing_price_vs_us               float64
quality_flag                             float64
dtype: object

In [11]:
#Select the columns - our team has decided to focus on year over year data to try and account for seasonality 
# and to explore trends in cities on the rise
cleaned_df = realtor_df[["month_date_yyyymm","cbsa_title","nielsen_hh_rank","hotness_rank","hotness_rank_yy","supply_score",
                        "demand_score","median_days_on_market_yy","ldp_unique_viewers_per_property_yy",
                        "ldp_unique_viewers_per_property_vs_us","median_listing_price_yy","quality_flag"]]
cleaned_df.head()

,month_date_yyyymm,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_yy,supply_score,demand_score,median_days_on_market_yy,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price_yy,quality_flag
0,202107,"richmond, va",1333.0,958.0,-207.0,31.832594,56.119214,-0.385714,0.279070,1.0784,0.034750,0.0
1,202107,"lafayette, la",935.0,1343.0,80.0,14.204185,30.691186,-0.595420,0.600000,0.7843,-0.155556,0.0
2,202107,"yuma, az",378.0,463.0,272.0,85.225111,38.871275,-0.542373,0.257143,0.8627,0.169684,0.0
3,202107,"faribault-northfield, mn",864.0,1151.0,-785.0,35.193405,32.847178,0.000000,0.205882,0.8039,0.110883,0.0
4,202107,"chicago-naperville-elgin, il-in-wi",394.0,164.0,-116.0,82.371592,79.581484,-0.348837,-0.027027,1.4118,-0.125039,0.0

In [13]:
#Examine rows where the quality flag has been triggered 
triggered_df = cleaned_df.loc[cleaned_df["quality_flag"] == 1]
triggered_df.head()

,month_date_yyyymm,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_yy,supply_score,demand_score,median_days_on_market_yy,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price_yy,quality_flag
14,202107,"greenwood, ms",1314.0,1507.0,46.0,3.677869,12.238427,-0.548913,1.250000,0.5294,-0.072356,1.0
18,202107,"colorado springs, co",95.0,287.0,-80.0,99.175650,44.578313,-0.562500,0.236842,0.9216,0.025226,1.0
29,202107,"fort polk south, la",970.0,1325.0,174.0,35.193405,12.301839,-0.590244,1.076923,0.5294,-0.031250,1.0
32,202107,"san jose-sunnyvale-santa clara, ca",1008.0,404.0,144.0,78.313253,51.299937,-0.585714,-0.037037,1.0196,0.105460,1.0
55,202107,NaN,NaN,661.0,-273.0,23.715916,84.717819,-0.293233,0.161765,1.5490,0.200400,1.0

In [16]:
#The number of rows that trip the quality flag is
print(len(triggered_df["quality_flag"]))

2307

In [17]:
#The total length of the clean df is
print(len(cleaned_df["quality_flag"]))

75745

In [19]:
#Given the number of rows is relatively small compared to the overall dataset size, drop the potential inaccurate rows
cleaned_df = cleaned_df.loc[cleaned_df["quality_flag"] != 1]
print(len(cleaned_df["quality_flag"]))

73438

In [20]:
#Drop the quality_flag column 
cleaned_df = cleaned_df.drop(["quality_flag"], axis=1)

In [21]:
#Examine data for null values
cleaned_df.isnull().sum()

month_date_yyyymm                            0
cbsa_title                                8854
nielsen_hh_rank                           8854
hotness_rank                                 1
hotness_rank_yy                          18937
supply_score                                 1
demand_score                                 1
median_days_on_market_yy                 18937
ldp_unique_viewers_per_property_yy       18937
ldp_unique_viewers_per_property_vs_us        1
median_listing_price_yy                  18937
dtype: int64

In [25]:
#Check for alternative columns, given the high number of year over year null values
realtor_df.isnull().sum()

month_date_yyyymm                            0
county_fips                                  0
county_name                                  1
cbsa_code                                 9121
cbsa_title                                9121
nielsen_hh_rank                           9121
hotness_rank                                 1
hotness_rank_mm                          18937
hotness_rank_yy                          18937
hotness_score                                1
supply_score                                 1
demand_score                                 1
median_days_on_market                        1
median_days_on_market_mm                 18937
median_dom_mm_day                        18937
median_days_on_market_yy                 18937
median_dom_yy_day                        18937
median_dom_vs_us                             1
ldp_unique_viewers_per_property_mm       18937
ldp_unique_viewers_per_property_yy       18937
ldp_unique_viewers_per_property_vs_us        1
median_listing_price                         1
median_listing_price_mm                  18937
median_listing_price_yy                  18937
median_listing_price_vs_us                   1
quality_flag                             18937
dtype: int64

In [27]:
#Creating a save point for dropping null values using the year over year columns
year_over_year_df = cleaned_df.dropna()
print(len(year_over_year_df["cbsa_title"]))

47928

In [28]:
#create a new 
cleaned_df = realtor_df[["month_date_yyyymm","cbsa_title","nielsen_hh_rank","hotness_rank","supply_score",
                        "demand_score","median_days_on_market","median_listing_price"]]

In [ ]:
triggered_df = cleaned_df.loc[cleaned_df["quality_flag"] == 1]